
.icon-up-dir:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-left-dir:before { content: '\e805'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-zoom-in:before { content: '\e80a'; } /* '' */
.icon-zoom-out:before { content: '\e80b'; } /* '' */
.icon-down-big:before { content: '\e80c'; } /* '' */
.icon-left-big:before { content: '\e80d'; } /* '' */
.icon-right-big:before { content: '\e80e'; } /* '' */
.icon-up-big:before { content: '\e80f'; } /* '' */
.icon-fast-bw:before { content: '\e810'; } /* '' */
.icon-fast-fw:before { content: '\e811'; } /* '' */
.icon-to-start-alt:before { content: '\e812'; } /* '' */
.icon-to-start:before { content: '\e813'; } /* '' */
.icon-to-end:before { content: '\e814'; } /* '' */
.icon-pause:before { content: '\e815'; } /* '' */
.icon-stop:before { content: '\e816'; } /* '' */
.icon-flight:before { content: '\e817'; } /* '' */
.icon-list:before { content: '\e818'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
